body {
  background-color: rgb(14, 13, 14);
}

main .container {
  background-image: url("http://localhost:3000/portfolio-c10/images/bg.webp");
  height: 50vh;
  box-shadow: inset 30px 30px 190px rgb(0, 0, 0);
}

main .about-col {
  margin-top: 6%;  
}

main .container h1,
main .container p  {
  color: white;
  text-shadow: 3px 4px 20px black;
}

main .container h1 span {
  display: inline-block;
  font-size: clamp(6rem, 4vw, 8rem);
  font-weight: 800;
}



.gallery-container {
  margin-top: 4rem;
  cursor: pointer;
}

.gallery-container h2 {
  font-size: clamp(2.5rem, 4vw, 3.2rem);
  color: white;
  font-weight: 700;
  margin-bottom: 1.8rem;
}


.gallery-card {
  border:0;
  transition: filter 0.6s ease-in-out;
  background-color: black;
}

.gallery-card .card-img {
  border-radius: 0;
}

.gallery-card .content {
  padding: 20px;
}


.gallery-card figure { overflow: hidden; }

.gallery-card figure img {
  filter: brightness(0.4);
  transition: 
    transform 1.1s ease-in-out, 
    filter 0.6s ease-in-out;
}

.gallery-card figure img:hover {
  filter: brightness(1.0);
  transform: scale(1.3);
  transition: 
    transform 1.1s ease-in-out, 
    filter 0.6s ease-in-out;
}

.gallery-card button, 
.gallery-card .icon img {
  height: 35px;
}

.gallery-card .icon img  {
  display: inline-block;
  filter: brightness(0.4);
  aspect-ratio: 1 / 1;
  background-color: transparent;
  border: 0;
}

.gallery-container .button-effect {
  display: block;
  transform: scale(1.0);
  transition: 0.6s ease-in-out;
}

.gallery-container .button-effect:hover {
  color: rgba(255, 255, 255, 0.668);
  transform: scale(1.13);
  filter: drop-shadow(0 0 20px rgba(0, 5, 9, 0.919));
  z-index: 999;
}

/* Disable hover effects on mobile */
@media (max-width: 768px) {
  .button-effect:hover
  {
      transform: scale(1.0);
      filter: none;
  }
}










.button-effect {
  display: block;
  transform: scale(1.0);
  transition: transform 0.23s ease-in-out;
}

.button-effect:hover {
  transform: scale(1.13);
  filter: drop-shadow(0 0 20px rgba(0, 5, 9, 0.919));
  z-index: 999;
}

/* Disable hover effects on mobile */
@media (max-width: 768px) {
  .button-effect:hover
  {
      transform: scale(1.0);
      filter: none;
  }
}
